h1 Welcome
section
  h2 About
  img(src="http://fillmurray.com/80/80")
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil iure illum nisi debitis, voluptatum rem temporibus autem. Temporibus quod placeat inventore excepturi iure molestiae ex ducimus deleniti harum!
  a(href="").button More...